@import '../variables';

.Header {
  top: 0;
  z-index: 10;
  position: sticky;

  margin: 0;

  background-color: $background_color;

  line-height: 1;
  border-bottom: 4px solid white;
}

.Header_title {
  margin: 0;
  padding: 0;
}

.Header_navigation {
  font-size: 22px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    padding-left: 30px;

    a {
      color: $text_color;
    }

    &:hover {
      //color: $highlight_color;
      cursor: pointer;
    }
  }
}

.Header__syncButton {
  color: $highlight_color;

  &.disabled {
    text-decoration: line-through;
    color: white;
  }
}

.Header__content {
  width: calc(100% - 2em);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  background-color: $background_color;
  backface-visibility: hidden;
  z-index: 5;
}

.Header__extraMenu {
  z-index: 4;
  margin: 0;
  padding: 0;
  border-top: 4px solid $text_color;
  flex-grow: 1;

  transition-duration: 100ms;
  &.closed {
    margin-top: -3em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    li {
      padding: 1em;

      &:hover {
        background-color: #333;
        cursor: pointer;
        transition-duration: 200ms;
      }

      &.not-implemented {
        text-decoration: line-through;

        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }



}

