@import "../variables";

.DefaultTextFieldWrapper {
  min-width: 250px;
  width: 30vw;
}

.DefaultTextField {
  color: $text_color;
  background-color: $background_color;
  border: 0;
  border-bottom: 2px solid white;
  outline: none;
  width: 100%;
}

.DefaultTextField_error {
  color: $error_color;
  font-size: 12px;
}
