@import "../variables";

.SongInfo {
  width: 0;
}

.SongInfoElement {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.SongInfo__content {
  padding-right: 2em;
}

.SongInfo__suggestedBy, .SongInfo__duration {
  margin-top: 1em;
}
