@import "../variables";

.UserListElement {
  display: flex;
  justify-content: space-between;

  width: 200px;

  .highlight {
    color: $highlight_color;
  }

  .host {
    font-size: smaller;
    font-style: italic;
  }
}

.UserListElement_score {
  text-align: right;
}


