@import 'variables';

body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: bold;
  background-color: $background_color;
  color: $text_color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::selection {
  background: $highlight_color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $highlight_color; /* Gecko Browsers */
}
